<div class="row">
  <div class="col-md-12 mx-auto mt-5 text-center">
    <div class="card">
      <div class="card-body">
        <div *ngIf="fasignado">
                <h2>Listado de Alumnos de Mi Curso</h2>
      
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let alumno of listado">
                      <div>
                          <h5>{{alumno.studentName}} {{alumno.lastName }}</h5>
                      </div>
                      <div >
                        <button type="button" class="btn btn-warning" (click)="atraso(alumno.studentId)">Notificar Atraso</button>
                        <button type="button" class="btn btn-danger" (click)="inasistencia(alumno.studentId)">Notificar Inasistencia</button>
                      </div>
                    </li>
                  </ul>
            </div>
            <div *ngIf="!fasignado">
                <h2>
                    No Tienes Nincun Curso Asignado
                </h2>
              </div>
      </div>
    </div>
  </div>
</div>