<div class="row">
  <div class="col-md-12 mx-auto mt-5 text-center">
    <div class="card">
      <div class="card-body">

          <div class="alert alert-dismissible alert-warning" *ngIf="flag">
              <button type="button" class="close" data-dismiss="alert" (click)="cerrar()">&times;</button>
              <h4 class="alert-heading">Mensaje Eviado</h4>
              <p class="mb-0"></p>
            </div>
            <div class="alert alert-dismissible alert-warning" *ngIf="flagError">
                <button type="button" class="close" data-dismiss="alert" (click)="cerrar()">&times;</button>
                <h4 class="alert-heading">{{mensaje}}</h4>
                <p class="mb-0"></p>
              </div>
        <h2>Enviar Mensaje Especifico</h2>
        <form  class='text-center mt-3' (submit)="enviar()" *ngIf="!flagSinCursos" ngNativeValidate>
            <div class="form-group">
              <label for="titulo">Titulo del Mensaje</label><br>
              <input type="text" name='titulo' [(ngModel)]="titulo"  class='form-control' placeholder="Titulo del Mensaje" required maxlength="45">
            </div>
            <div class="form-group">
                <label for="nivel">Nivel</label>
                <select class="form-control" name="nive" id="nive" [(ngModel)]="curso" (change)="identi()" required>
                  <option *ngFor="let nivel of cursos" value="{{nivel}}" >{{nivel}}</option>
                </select>
              </div>
              <div class="form-group" *ngIf="fIdentificador">
                <label for="Identificador">Identificador</label>
                <select class="form-control" name="Identificador" id="Identificador" [(ngModel)]="identificador" (change)="alum()" required>
                  <option *ngFor="let ident of identificadores" value="{{ident}}" >{{ident}}</option>
                </select>
              </div>

              <div class="alert alert-dismissible alert-warning" *ngIf="fsinalumnos">
                  <button type="button" class="close" data-dismiss="alert" (click)="cerrarSinAlumnos()">&times;</button>
                  <h4 class="alert-heading">{{mensajeSinAlumnos}}</h4>
                  <p class="mb-0"></p>
                </div>


              <div class="form-group" *ngIf="falumno">
                <label class="control-label">Alumnos</label>
                <div class="form-group">
                  <div class="input-group mb-3">

                      <select class="form-control" name="Identificador" id="Identificador" [(ngModel)]="_alumnos">
                          <option *ngFor="let alu of alumnos" value="{{alu.studentID}}">{{alu.studentName}} {{alu.studentLastname}}</option>
                        </select>

                    <div class="input-group-append">
                      <input type="button" value="Agregar" (click)='agregarAlumno()'>
                      </div>
                  </div>
                </div>
              </div>
              
              <div>
                  <h3 *ngFor='let al of alumn'>{{al.studentName}} {{al.studentLastname}} <i class="fas fa-trash-alt" (click)='quitarAlumno(al.studentID)'></i></h3>
              </div>



            <div class="form-group">
                <label for="contenido">Contenido del Mensaje</label><br> 
                <input type="text" name='contenido' [(ngModel)]="contenido"  class='form-control' placeholder="Contenido del Mensaje" required maxlength="200">
              </div>
           
              <input type="submit" class='btn btn-warning btn-block btn-lg' value="Enviar">
          </form>
          <div *ngIf="flagSinCursos">
            <br><br><br>
            <h2>No se Encuentran Cursos Registrados</h2>
          </div>
      </div>
    </div>
  </div>
</div>