<div class="row">
    <div class="col-md-12 mx-auto mt-5 text-center">
      <div class="card">
        <div class="card-body">
            <div class="alert alert-dismissible alert-warning" *ngIf="flag">
                <button type="button" class="close" data-dismiss="alert" >&times;</button>
                <h4 class="alert-heading">Usuario Creado Exitosamente</h4>
                <p class="mb-0"></p>
              </div>
              <div class="alert alert-dismissible alert-primary" *ngIf="warning">
                  <button type="button" class="close" data-dismiss="alert" (click)="esconder()">&times;</button>
                  <h4 class="alert-heading">{{mensaje}}</h4>
                  <p class="mb-0"></p>
                </div>
          <h2>Agregar Psicopedagogo</h2>
          <form  class='text-center mt-3' (submit)="agregar()" ngNativeValidate>
              <div class="form-group">
                <label for="nombre">Nombre Psicopedagogo</label><br>
                <input type="text" name='nombre' [(ngModel)]="nombre"  class='form-control' placeholder="Nombre Psicopedagogo"  maxlength="45" required>
              </div>
              <div class="form-group">
                  <label for="apellido">Apellidos Psicopedagogo</label><br> 
                  <input type="text" name='apellido' [(ngModel)]="apellido"  class='form-control' placeholder="Apellido Psicopedagogo" maxlength="45" required>
                </div>
              <div class="form-group">
                  <label for="E-mail">E-mail</label><br>
                  <input type="email" name='E-mail' [(ngModel)]="email" class='form-control'placeholder="Email Psicopedagogo" maxlength="45" required>
              </div>
              <div class="form-group">
                  <label for="Contraseña">Contraseña</label><br>
                  <div class="form-group">
                      <div class="input-group mb-3">
                        <input type="password" minlength="6" maxlength="12" [(ngModel)]="pass" pattern="[A-Za-z0-9]+" title="Debe ener entre 6 y 12 caracteres" name='pass' class='form-control' placeholder="Contraseña" required maxlength="20">
                        <div class="input-group-append">
                          <input type="button" value="Aleatorio" (click)='aleatorio()'>
                          </div>
                      </div>
                    </div>
              </div>
              <div class="form-group">
                  <label for="contrato">Fecha de Contratación</label><br>
                  <input type="date" name="contrato" [(ngModel)]="contract" class='form-control' title="Para que el apoderado conozca la antigüedad del docente en la institución">
              </div>
                <input type="submit" class='btn btn-warning btn-block btn-lg' value="Ingresar">
            </form>
        </div>
      </div>
    </div>
  </div>