<header class="masthead text-center text-white d-flex" style="background-image:url(https://i.imgur.com/7ZsRoNL.jpg)">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong> </strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">

         <h1> <strong>UP-Noticer</strong></h1>
        <p class="text-faded mb-5">
          Mejorando 
        </p>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Tenemos lo que necesitas</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">
          No esperes hasta la próxima reunión de apoderados para enterarte de como esta tu hijo
        </p>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Nuestros Servicios</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <img src="https://i.imgur.com/Cj5G9WM.jpg" height="150" width="140">
          <h3 class="mb-3">Envio de notas en tiempo real</h3>
          <p class="text-muted mb-0">Entérate de las notas de tu hijo en el momento y no esperes encontrarlas en el basurero</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <img src="https://i.imgur.com/ubAASB6.png" height="140" width="180">
          <h3 class="mb-3">Entérate si tu hijo fue al colegio</h3>
          <p class="text-muted mb-0">Podras recibir notificaciones de atraso o inasistencia</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <img src="https://i.imgur.com/ZKtTwbr.png" height="180" width="140">
          <h3 class="mb-3">Comunicación directa con el profesor jefe</h3>
          <p class="text-muted mb-0">Ten una comunicación directa con el profesor jefe de tu hijo en todo momento</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
            <img src="https://i.imgur.com/SW60T4u.png" height="180" width="120">
          <h3 class="mb-3">Entérate del comportamiento de tu hijo</h3>
          <p class="text-muted mb-0">Envía todas tus dudas tanto al psicólogo como psicopedagogo del colegio</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  
    <form>
        <div class="card text-center">
            <div class="card-body">
                <H3>Contáctate con Nosotros</H3>
              <label>Nombre Institución</label><br>
              <input type="text" id='institucion'><br>
              <label>Email de contacto</label><br>
              <input type="email" id='email'><br>
              <label>Teléfono</label><br>
              <input type="text" id='telefono'><br><br>
              <button ctype="button" type="submit" class="btn btn-primary" [routerLink]="['/']">
                Enviar
              </button>
          </div>
          </div>
    </form>
</section>

<div class="card text-center">
  @2018 Up-Noticer by Alcachofa
</div>