<div class="row">
    <div class="col-md-12 mx-auto mt-5 text-center">
      <div class="card">
        <div class="card-body">
            <button class='btn btn-warning btn-block btn-lg' (click)="volver()">Volver al Listado</button>
            <br>
            <h3>Curso</h3>
            <h2>{{cursoNombre}} {{cursoIdent}}</h2>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active show" data-toggle="tab" href="#info">Información</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#alumnos">Alumnos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#Asignaturas">Asignaturas</a>
                </li>
              </ul>

              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show" id="info">
                  <h2>Información</h2><br>
                  <h4>Profesor Jefe</h4>
                  <h3>{{profeNombre}} {{profeApellido}}</h3>
                  <br>
                  <h4>Cantidad de Alumnos</h4>
                  <h3>{{cantidadAlumnos}}</h3>
                  <br>
                  <h4>Cantidad de Asignaturas</h4>
                  <h3>{{cantidaAsignatura}}</h3>
                  <br>

                </div>
                <div class="tab-pane fade" id="alumnos">
                  <h2>Alumnos</h2>
                  <h6>Agregar al fin del lisatado</h6>
                  <br>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let alumno of alumnos">
                          <div>
                                <h6>Nombre : {{alumno.name}}  {{alumno.lastName}}</h6>
                                <h6>Rut : {{alumno.rut}}</h6>
                          </div>
                          <div>
                            <h2>
                              <i _ngcontent-c2="" class="fas fa-edit " (click)="editarAlumno(alumno.id,alumno.name,alumno.lastName,alumno.rut)"></i>
                              <i _ngcontent-c2="" class="far fa-trash-alt" (click)="eliminarAlumno(alumno.id)"></i>
                          </h2>
                          </div>
                        </li>
                      </ul>

                      <br><h2>Agregar Nuevo Alumno</h2><br>

                      <div class="alert alert-dismissible alert-success" *ngIf="fingresoAlumno">
                          <button type="button" class="close" data-dismiss="alert" ng-click="esconder()">&times;</button>
                          <h2>Agregado Correctamente</h2>
                        </div>

                        <div class="alert alert-dismissible alert-primary" *ngIf="ferrorAlumno">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h2>{{mensaje}}</h2>
                          </div>


                      <form  class='text-center mt-3' (submit)="agregarAlumno()">
                          <div class="form-group">
                            <label for="nombre">Nombre</label><br>
                            <input type="text" name='nombre' [(ngModel)]="nombreAlumno"  class='form-control' placeholder="Nombre"ng-required="true">
                          </div>
                          <div class="form-group">
                              <label for="apellido">Apellidos</label><br> 
                              <input type="text" name='apellido' [(ngModel)]="apellidoAlumnos"  class='form-control' placeholder="Apellido"ng-required="true">
                            </div>
                          <div class="form-group">
                              <label for="Rut">Rut</label><br>
                              <input type="text" name='Rut' [(ngModel)]="rut" ng-maxlength="8" ng-minlength="8" class='form-control'placeholder="sin puntos ej: 10123456" ng-required="true">
                              <input type="text" name='verificador' [(ngModel)]="rutVerificador" ng-maxlength="1" ng-minlength="1" class='form-control'placeholder="Codigo Verificador" ng-required="true">
                            </div>
                            <input type="submit" class='btn btn-warning btn-block btn-lg' value="Agregar">
                        </form>





                </div>
                <div class="tab-pane fade" id="Asignaturas">

                    <h2>Listado de asignaturas</h2>
                    <br>
                      <ul class="list-group">
                          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let asignatura of asignaturas">
                            <div>
                                  <h4>{{asignatura.asignatura}}</h4>
                                  <h4>Profesor : {{asignatura.profeNombre}} {{asignatura.profeApellido}}</h4>
                            </div>
                          </li>
                        </ul>

                </div>
              </div>


        </div>
      </div>
    </div>
</div>