<div class="row">
    <div class="col-md-12 mx-auto mt-5 text-center">
      <div class="card">
        <div class="card-body">
          <div *ngIf="fasignado">
                  <h2>Listado de Alumnos de Mi Curso</h2>
                  <h3> {{nombreCurso}} {{identCurso}}</h3>
                  <h4 title="Se le da a los apoderados del curso para registrar al alumno">Codigo del curso : {{idCurso}}</h4>
        
                  <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let alumno of listado">
                        <div>
                            <h5>{{alumno.studentName}} {{alumno.lastName }}</h5>
                        </div>
                        <div >
                            <div class="alert alert-dismissible alert-primary" *ngIf="alumno.apoderado == '0'">
                              Sin Apoderado Registrado
                            </div>
                            <div class="alert alert-dismissible alert-success" *ngIf="alumno.apoderado != '0'">
                              Con Apoderado Registrado
                            </div>
                        </div>
                      </li>
                    </ul>
              </div>
              <div *ngIf="!fasignado">
                  <h2>
                      No Tienes Nincun Curso Asignado
                  </h2>
                </div>
        </div>
      </div>
    </div>
  </div>